* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#error-message {
    display: none;
    padding: 5px;
    color: white;
    background-color: red;
}

.show {
    display: block !important;
}
/* 5a84da2414cea1bf50ee9c13a40a40de374d1987 */
